.title {
    text-align: center;
    background-color: black;
    color: darkgoldenrod;
    padding: 10px;
    box-shadow: 3px 3px 3px #333;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

ul {list-style-type: none;}

.container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px 10px 30px 10px;
}

.defaultImage {
    position: absolute;
    z-index: 0;
    top: 40%;
    left: 39.5%;
    width: 440px;
    height: 280px;
}

.smallImage {
    width: 180px;
    height: 140px;
    transition: 1s;
}

.smallImage:hover {
    transform: scale(.9);
    opacity: .8;
    transition: 1s;
}

.bigImage {
    position: absolute;
    top: 40%;
    left: 39.5%;
    width: 440px;
    height: 280px;
    display: none;
}

li:hover .bigImage{
    display: block;
    z-index: 1;
}


