
.home ul {list-style-type: none;}
.home img {box-shadow: 3px 3px 3px #333;}

.home .container {
    display: grid;
    position: relative;
    padding-top: 330px;
    padding-bottom: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

.home .defaultImage {
    position: absolute;
    z-index: 0;
    height: 60%;
    width: 70%;
    left: 15%;
}

.home .smallImage {
    width: 200px;
    height: 140px;
    transition: 1s;
}

.home .smallImage:hover {
    transform: scale(.9);
    opacity: .8;
    transition: 1s;
}

.home .bigImage {
    position: absolute;
    top: 0px;
    height: 60%;
    width: 70%;
    left: 15%;
    display: none;
}

.home li:hover .bigImage{
    display: block;
    z-index: 1;
}


@media only screen and (max-width: 768px){
    .container {
        grid-template-columns: 1fr;
        padding-left: 0;
        text-align: center;
        padding-top: 50vw;
    }

    .defaultImage, .bigImage {
        max-height: 45vw;
    }
}



